
.title-style{
    color: green;
    font-weight: bolder;
    font-size: 30px;

}

.nav-style{
    font-size: 18px;
}
.space-item-nav{
    margin-right: 720px;
}

.nav-color{
    background-color: rgb(251, 250, 248);
    border: 2px solid rgb(56, 54, 54);
}

.btn-color{
    background-color: green;;
    color: white;
    font-weight: bold;
}

.link-color{
    color: black;
    
}

.center-card{

    margin-top: 100px;
}



.card-box{
    box-shadow: 2px 2px 7px 2px  green;
    height: 500px;
}

.shadow-box{
    box-shadow: 2px 2px 7px 2px  green;
}

.box-style{
    height: 50px;
}